<div class="container">
    <h1>Get Weather Information</h1>
    <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-2 ">
            <label for="areaName">Enter the name of the area:</label>
            <input type="text" class="form-control transparent" id="areaName" formControlName="areaName"
                placeholder="Enter area name">
        </div>
        <button type="submit" class="btn btn-secondary">Get Weather</button>
    </form>
</div>


<app-weather [summary]="summary" [temp]="temp" [tempMax]="tempMax" [tempMin]="tempMin" [windS]="windS" [windD]="windD"
    [feelslike]="feelslike" [humidity]="humidity" [pressure]="pressure" [seaL]="seaL" [grndL]="grndL"
    [iconUrl]="iconUrl" [name]="name" [country]="country"></app-weather>